<%= current_user.inspect %>
<% if user_signed_in? %>
<p>You are signed in</p>
<%= link_to "Sign out", destroy_user_session_path %>
<% else %>
  <%= link_to "Log in", new_user_session_path %><br />
  <%= link_to "Sign up", new_user_registration_path %><br />
<% end %>
